{% extends "base.html" %} {%block content%}Crop Prediction Result{% endblock%} {%block body%}

<div style="margin-top:30vh">
    <table>
        <tr>
            <th>N Level (in kg/hectre)</th>
            <th>P Level (in kg/hectre)</th>
            <th>K Level (in kg/hectre)</th>
            <th>Humidity (in %)</th>
            <th>Temperature (in deg celsius)</th>
            <th>Rainfall (in mm)</th>
            <th>PH</th>
        </tr>
        <tr>
            {%for i in values:%}
            <td>{{i}}</td>
            {%endfor%}
        </tr>
    </table>
    <table>
        <tr>
            <th>Nitrogen Level</th>
            <th>Phosphorous Level</th>
            <th>potassium Level</th>
            <th>Humidity </th>
            <th>Temperature</th>
            <th>Rainfall </th>
            <th>PH Level</th>
        </tr>
        <tr>
            {%for i in cont:%}
            <td>{{i}}</td>
            {%endfor%}
        </tr>
    </table>
    <h1 style="text-shadow: 3px 3px 3px violet;">Best crop to grow in this condition is {{ cropName}}
    </h1>
</div>
{% endblock%}
</table>